body {
  font-family: 'Rajdhani';
  font-weight: 500;
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  max-width: 1280px;
  padding: 0 25px;
  margin: 0 auto;
}
.slider3__wrapper, .slider4__wrapper{
  max-width: 1280px;
  padding: 0 25px;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  background-color: #c5c5c5;
  font-size: 12px;
  color: #fff;
  position: relative;

  & > .wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .header__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  .header__text-left {
    font-weight: 700;
  }

  .header__bullets {
    display: flex;
    padding: 4px 0;
  }

  .header__bullets-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #010202;
    margin-left: 4px;

    &.active {
      background: #010202;
    }
  }
}

.slick-list {
  overflow: hidden;
}

.slider__item {
  background: url('../images/headerSliderDesktop.png') 50%;
  background-size: cover;
  height: 706px;
  position: relative;

  & .slider__item-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    text-align: center;
    margin-left: 75px;
  }
}

.slider__item-line1 {
  font-size: 35px;
  color: #000;
  padding: 15px 50px;
  border-bottom: 2px solid #000;

  span {

    &:first-child {
      font-weight: 700
    }
  }
}

.slider__item-line2 {
  padding: 13px 0 45px 0;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Courier New";
}

.slick-track {
  display: flex;
}

.slider__button {
  border: 2px solid #393939;
  color: #393939;
  background: none;
  padding: 5px 10px;
}

.slider {
  position: relative;

  .slick-dots {
    display: flex;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);

    li {
      list-style: none;
    }

    .slick-active {
      button {
        background: #000;
      }
    }

    button {
      font-size: 0;
      border: none;
      background: #fff;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      margin: 0 3px;
    }
  }
}

.navigation {
  position: relative;
  background-color: #000000;

  .navigation__wrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 6px 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .navigation__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1;
  }

  .navigation__right {
    display: flex;
  }

  .navigation__right-login {
    text-decoration: none;
    font-size: 26px;
    color: #ffffff;
    letter-spacing: 0.7px;
    margin-right: 25px;
    cursor: pointer;
  }

  .navigation__right-cart, .navigation__menu, .menu__close {
    cursor: pointer;
  }

  .navigation__menu{
    width: 32px;
    height: 21px;
    background: url("../images/iconMENU.png") no-repeat;
  }
  .navigation__right-cart {
    width: 46px;
    height: 32px;
    background: url("../images/cart.png");
    position: relative;
    z-index: 100;
  }
}

.menu {
  background: #fff;
  z-index: 150;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  border: 2px solid #000;

  .menu__wrapper {
    margin-left: 170px;
  }

  .menu__header {
    padding: 11px 10px 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    letter-spacing: 0.53px;
    color: #fff;
    background-color: #000000;
  }

  .menu__search {
    display: flex;
    padding: 10px 10px 10px 15px;
    background-color: #b1b1b1;

    input {
      padding: 9px 150px 9px 15px;
      font-size: 16px;
      line-height: 1;
      outline: none;
      border: none;
      margin-right: 10px;
    }
  }

  .menu__search-icon {
    width: 46px;
    height: 42px;
    position: relative;
    background: #000;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .menu__list {
    span:first-child {
      font-size: 22px;
      letter-spacing: 0.39px;
      color: #292929;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    .menu__list-items {
      line-height: 1;
      padding: 15px 26px 15px 25px;
      background: #fff;
      border-bottom: #b1b1b1 solid 2px;
      cursor: pointer;
    }

    .menu__list-moreItems > li {
      line-height: 1;
      padding: 12px 26px 12px 25px;
      background: #000;
      border-bottom: 2px solid #fff;

      &:last-child {
        border-bottom: 2px solid none;
      }

      span:first-child {
        color: #fff;
      }
    }

    li {
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    span:last-child {
      font-size: 33px;
      color: #292929;
    }
  }

  .sobre__innerItems, .colecoes__innerItems, .categoria__innerItems, .looks__innerItems, .contato__innerItems {
    display: none;

    &.active {
      display: block;
    }
  }

  .menu__sm {
    margin: 166px 20px 15px 0;
    float: right;

    & > a {
      margin-left: 11px;
    }

    &:after {
      content: "";
      clear: both;
      display: block;
    }
  }
}

.cart {
  display: none;
  z-index: 50;
  position: absolute;
  right: 0;
  top: 0;
  border: 2px solid #000000;
  border-right: none;

  .cart__tittle {
    display: flex;
    justify-content: space-between;
    background: #000000;
    padding: 9px 150px 9px 22px;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0.53px;
  }

  .item {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #b1b1b1;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .item-left {
    display: flex;
  }

  .item-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 40px;
  }

  .item__amount {
    display: flex;
    padding: 24px 0 8px 14px;

    div {
      margin-right: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 26px;
      border: 2px solid #010202;
    }
  }

  .item__image {
    width: 65px;
  }

  .item__color {
    width: 23px;
    height: 23px;
    background-color: #000000;
    margin: 11px 0 0 14px
  }

  .item__name {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.39px;
    padding: 14px 0 0 14px;
  }

  .item__delete {
    margin-top: 9px;
    width: 28px;
    height: 26px;
    border: 2px solid #010202;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item__price {
    margin-bottom: 10px;
  }

  .cart__items {
    padding-bottom: 240px;
    background: #fff;
  }

  .cart__price {
    background-color: #dcdcdc;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cart__total-sum {
      padding: 15px 40px 15px 0;
      font-size: 22px;
    }

    .cart__total {
      padding-left: 15px;
      font-size: 22px;
      font-weight: 400;
    }
  }

  .cart__checkout {
    display: flex;
    justify-content: space-between;
  }

  .cart__checkout-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;

    img {
      padding: 30px 40px 30px 40px;
    }

    span {
      padding-left: 22px;
      color: #ffffff;
      font-size: 20px;
      letter-spacing: 0.46px;
      font-weight: 700;
    }
  }

  .cart__checkout-left {
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    color: #b3b3b3;
    letter-spacing: 0.46px;
    line-height: 1;
    background: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    padding-left: 37px;
    padding-right: 48px;
  }
}

.background {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  right: 0;
  background: rgba(255, 255, 255, .6)
}

.tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #393939;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.29px;

  span {
    padding: 40px 20px 30px;
  }

  img {
    width: 68px;
    height: 12px;
  }
}

.slider2 {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 47px;
  margin-bottom: 70px;
  position: relative;

  .slick-arrow {
    font-size: 0;
    border: none;
    width: 12px;
    height: 19px;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
  }

  .slick-prev {
    background: url('../images/slider-arrow-left.png');
    left: 25px;
  }

  .slick-next {
    background: url('../images/slider-arrow-right.png');
    right: 25px;
  }

  .slider2__item {
    position: relative;
    text-align: center;

    &:hover:before {
      content: "";
      position: absolute;
      bottom: 24px;
      left: 0;
      right: 0;
      height: 27px;
      background: #000000;
      opacity: 0.66;
    }

    &:hover:after {
      content: "COMPRAR";
      position: absolute;
      bottom: 24px;
      left: 50%;
      transform: translateX(-50%);
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1.94px;
    }

    span {
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.43px;
    }
  }
}

.iconDivisoria {
  text-align: center;
  margin-bottom: 38px;
}

.catigories {
  margin-bottom: 70px;
}

.catigories__line1 {
  display: flex;
  justify-content: center;

  div:first-of-type {
    position: relative;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "JAQUETAS";
      font-size: 34px;
      font-weight: 400;
      letter-spacing: 1.22px;
      color: #fff;
      transform: translate(-50%, -50%);
    }

    &:hover:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background: rgba(0, 0, 0, 0.6);
      margin-bottom: 20px;
    }

    img {
      padding-right: 15px;
      padding-bottom: 15px;
      width: 100%;
    }
  }

  div:last-of-type {
    position: relative;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "SHORTS";
      font-size: 34px;
      font-weight: 400;
      letter-spacing: 1.22px;
      color: #fff;
      transform: translate(-50%, -50%);
    }

    &:hover:before {
      position: absolute;
      top: 0;
      left: 0;
      right: -10px;
      bottom: 0;
      content: "";
      background: rgba(0, 0, 0, 0.6);
      margin-bottom: 21px;
      margin-left: 15px;
    }

    img {
      padding-left: 15px;
      padding-bottom: 15px;
      width: 100%;
    }
  }
}

.catigories__line2 {
  display: flex;
  justify-content: center;

  div:first-of-type {
    position: relative;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "CORTA-VENTO";
      font-size: 34px;
      font-weight: 400;
      letter-spacing: 1.22px;
      color: #fff;
      transform: translate(-50%, -50%);
    }

    &:hover:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background: rgba(0, 0, 0, 0.6);
      margin-bottom: 25px;
    }

    img {
      padding-right: 15px;
      padding-bottom: 15px;
      width: 100%
    }
  }

  div:last-of-type {
    position: relative;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "CAMISAS";
      font-size: 34px;
      font-weight: 400;
      letter-spacing: 1.22px;
      color: #fff;
      transform: translate(-50%, -50%);
    }

    &:hover:before {
      position: absolute;
      top: 0;
      left: 0;
      right: -14px;
      bottom: 0;
      content: "";
      background: rgba(0, 0, 0, 0.6);
      margin-left: 16px;
      margin-bottom: 22px;
    }

    img {
      padding-left: 15px;
      padding-bottom: 15px;
      width: 100%
    }
  }
}

.catigories__line3 {
  display: flex;
  justify-content: center;

  div:first-of-type {
    position: relative;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "CALÇAS";
      font-size: 34px;
      font-weight: 400;
      letter-spacing: 1.22px;
      color: #fff;
      transform: translate(-50%, -50%);
    }

    &:hover:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 7px;
      content: "";
      background: rgba(0, 0, 0, 0.6);
    }

    img {
      padding-right: 15px;
      width: 100%
    }
  }

  div:last-of-type {
    position: relative;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "CAMISETAS";
      font-size: 34px;
      font-weight: 400;
      letter-spacing: 1.22px;
      color: #fff;
      transform: translate(-50%, -50%);
    }

    &:hover:before {
      position: absolute;
      top: 0;
      left: 0;
      right: -15px;
      bottom: 8px;
      content: "";
      background: rgba(0, 0, 0, 0.6);
      margin-left: 15px;
    }

    img {
      padding-left: 15px;
      width: 100%
    }
  }
}

.galleryItemHover {
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.66);
  top: 0;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 15px;
  margin-bottom: 7px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.29px;
}

.slider3 {
  text-align: center;

  .likeIcon img {
    width: auto;
  }

  .slider3__item {
    position: relative;

    &:hover .galleryItemHover {
      display: flex;
    }
  }

  img {
    max-width: 255px;
  }
}

.slider4 {
  text-align: center;

  .galleryItemHover {
    margin: 0 17px;
    margin-bottom: 6px;
  }

  .slider4__item {
    position: relative;

    &:hover .galleryItemHover {
      display: flex;
    }
  }

  img {
    max-width: 285px;
  }
}

.cardsTittle {
  margin: 20px 0 10px 0;
}

.quemUsa {
  margin: 0 0 70px 0;

  .slider3__item {
    max-width: 285px;
  }
}
.wrapper form{
  padding: 0;
}
form {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 55px;
  width: 100%;
  span {
    padding: 20px 40px;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 1.83px;
    color: #ffffff;
    background-color: #000000;
    position: relative;
    margin-right: 17px;

    &:before {
      content: "";
      position: absolute;
      left: 100%;
      top: 0;
      bottom: 0;
      border: 33px solid transparent;
      border-left: 17px solid #000000;
    }
  }

  input[type=text] {
    font-size: 19px;
    font-weight: 400;
    width: 380px;
    padding: 20px 0;
    border: 2px solid #d0d0d0;
    outline: none;
    text-align: center;
    letter-spacing: 0.69px;
    color: #393939;
  }

  input[type=submit] {
    font-size: 19px;
    font-weight: 400;
    background: #d0d0d0;
    padding: 22px 40px 18px 40px;
    outline: none;
    border: none;
    border-bottom: solid #4f5052 4px;
    letter-spacing: 0.69px;
    color: #393939;
  }
}

footer {
  .footer__mobile{
    display: none;
  }
  div {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  background: #000000;

  .footer__info {
    a {
      text-decoration: none;
      margin-right: 30px;
      color: #ffffff;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.55px;
    }
  }

  .footer__sm {
    a {
      margin-left: 10px;
    }
  }
}

.headerOrderWrapper {
  display: flex;
  flex-direction: column;

}

//Small devices (phones, up to 770px)

@media (max-width: 770px) {
  .headerOrderWrapper {
    .navigation {
      order: 1;
      .navigation__wrapper{
        padding: 6px 15px;
      }
    }

    header {
      order: 2;
    }

    .slider {
      order: 3;
    }
  }
  .wrapper {
    max-width: 100%;
    padding: 0 15px;
  }
  .navigation__right-login {
    display: none;
  }
  .navigation__logo{
    white-space: nowrap;
  }
  header {
    text-align: center;
    .header__text {
      position: static;
      letter-spacing: 0.35px;
      font-size: 13px;
      top: 0;
      left: 0;
      transform: translate(0);
    }
    .header__bullets {
      display: none;
    }
    & > .wrapper {
      display: block;
    }
  }
  .slider__item {
    background-position-x: -5%;
    height: 195px;
    & .slider__item-content {
      margin-left: 0;
    }
  }
  .slider__item-line1 {
    padding: 6px 22px;
    font-size: 14px;
    letter-spacing: 0.29px;
  }
  .slider__item-line2 {
    padding: 6px 0 14px 0;
  }
  .slider {
    .slick-dots {
      bottom: 10px;
      button {
        width: 12px;
        height: 12px;
        border: 1px solid #929292;
      }
    }
  }
  .tittle {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.32px;
    span {
      padding: 26px 10px 30px;
      white-space: nowrap;
    }
    img {
      width: 42px;
      height: 8px;
    }
  }
  .slider2 {
    position: absolute;
    width: 130%;
    left: 50%;
    transform: translateX(-50%);
    .slick-active[data-slick-index="-1"], .slick-active[data-slick-index="1"] {
      opacity: 0.4;
    }
  }
  .slider2__wrapper {
    width: 100%;
    overflow: hidden;
    padding-bottom: 340px;
    position: relative;
  }
  .slider2__item {
    margin-right: 13px;
    width: 155px;
    img {
      width: 100%;
    }
  }
  .slider2__item-discount {
    width: 55px;
    height: 81px;
    position: absolute;
    top: 0;
    z-index: 100;
    left: -13px;
    background: url("../images/discount.png");
  }
  .catigories {
    margin-bottom: 26px;
  }
  .catigories__line1 {
    display: block;
    div:first-of-type {
      position: relative;
      &:after {
        font-size: 20px;
        letter-spacing: 1.49px;
      }
      &:hover:before {
        margin-bottom: 5px;
      }
      img {
        padding-right: 0;
        padding-bottom: 0;
        width: 100%;
      }
    }

    div:last-of-type {
      position: relative;
      &:after {
        font-size: 20px;
        letter-spacing: 1.49px;
      }

      &:hover:before {
        margin-bottom: 5px;
        margin-right: 10px;
        margin-left: 0;
      }

      img {
        padding-left: 0;
        padding-bottom: 0;
      }
    }
  }
  .catigories__line2 {
    display: block;
    div:first-of-type {
      &:hover:before{
        bottom: -20px;
      }
      &:after {
        font-size: 20px;
        letter-spacing: 1.49px;
      }
      img {
        padding-right: 0;
        padding-bottom: 0;
      }
    }

    div:last-of-type {
      &:after {
        font-size: 20px;
        letter-spacing: 1.49px;
      }

      &:hover:before {
        position: absolute;
        right: 0;
        margin-left: 0;
        margin-bottom: 5px;
      }

      img {
        padding-left: 0;
        padding-bottom: 0;
      }
    }
  }
  .catigories__line3 {
    display: block;
    div:first-of-type {
      &:after {
        font-size: 20px;
        letter-spacing: 1.49px;
      }
      &:hover:before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 5px;
      }
      img {
        padding-right: 0;
      }
    }

    div:last-of-type {
      &:after {
        font-size: 20px;
        letter-spacing: 1.49px;
      }
      &:hover:before {
        right: 0;
        bottom: 5px;
        margin-left: 0;
      }
      img {
        padding-left: 0;
      }
    }
  }
  .slider3__wrapper{
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 133px;
    position: relative;
  }
  .slider3{
    position: absolute;
    width: 130%;
    left: 50%;
    transform: translateX(-50%);
  }
  .slider3__item{
    margin-right: 13px;
    width: 133px;
    img {
      width: 100%;
    }
  }
  .galleryItemHover{
    font-size: 16px;
    margin: 0;
    margin-bottom: 0;
  }
  .slider4__wrapper{
    max-width: 100%;
    overflow: hidden;
    height: 170px;
    position: relative;
  }
  .slider4{
    position: absolute;
    width: 130%;
    left: 50%;
    transform: translateX(-50%);
  }
  .slider4__item{
    margin-right: 13px;
    width: 170px;
    height: 170px;
    img {
      width: 100%;
    }
    .galleryItemHover{
      margin: 0;
      margin-bottom: 0;
    }
  }
  form {
    display: block;
    margin-top: 57px;
    margin-bottom: 50px;
    padding: 0;
    span {
      margin-bottom: 5px;
      display: block;
      text-align: center;
      padding: 15px 0;
      letter-spacing: 0.91px;
      background-color: #000000;
      margin-right: 0;
      &:before {
        display: none;
      }
    }
    input[type=text] {
      margin-bottom: 5px;
      display: block;
      width: 100%;
      padding: 15px 0;
      box-sizing: border-box;
      border: 2px solid #d0d0d0;
      text-align: center;
      letter-spacing: 0.91px;
    }
    input[type=submit] {
      display: block;
      width: 100%;
      padding: 15px 0 13px 0;
      letter-spacing: 0.91px;
    }
  }
  footer {
    background: none;
    .wrapper{
      display: none;
    }
    .footer__mobile{
      display: block;
      padding: 15px;
      text-align: center;
    }
  }
  .navigation__menu{
    width: 28px !important;
    height: 18px !important;;
    background: url("../images/menuMobileLeft.png") no-repeat !important;
  }
  .navigation__right-cart {
    width: 37px !important;
    height: 27px !important;
    background: url("../images/menuMobileRight.png") !important;
  }
  .menu {
    right: 0;
    .menu__header {
      font-size: 20px;
    }

    .menu__search {
      input {
        width: 100%;
        padding: 9px 20px 9px 15px;
        font-size: 14px;
      }
    }

    .menu__list {
      span:first-child {
        font-size: 18px;
      }
    }
    .menu__sm {
      margin: 50px 20px 15px 0;
    }
  }
  .cart{
    .cart__tittle{
      white-space: nowrap;
    }
    left: 0;
    .item-right{
      padding-right: 15px;
    }
  }
}


/* Medium devices (tablets, up tp 1280px;) */
@media (min-width: 770px) and (max-width: 1280px) {

  .wrapper {
    max-width: 730px;
    padding: 0 15px;
  }
  .slider3__wrapper, .slider4__wrapper{
    max-width: 730px;
    padding: 0 15px;
  }
  header {
    text-align: center;

    .header__text {
      position: static;
      top: 0;
      left: 0;
      transform: translate(0);
    }

    .header__bullets {
      display: none;
    }

    & > .wrapper {
      display: block;
    }
  }
  /////////
  .slider__item {
    & .slider__item-content {
      margin-left: 50px;
    }
  }
  .slider__item-line1 {
    padding: 8px 30px;
    font-size: 23px;
    letter-spacing: 0.29px;
  }
  .slider__item-line2 {
    padding: 8px 0 30px 0;
  }
  .slider {
    .slick-dots {
      bottom: 20px;

      button {
        width: 13px;
        height: 13px;
      }
    }
  }
  .slider__item {
    background: url('../images/slider-1.png') 50%;
    height: 460px;
  }
  ///////////
  .tittle {
    font-size: 20px;

    span {
      padding: 30px 17px 24px;
    }

    img {
      width: 57px;
      height: 10px;
    }
  }
  ///////////
  .slider2 {
    position: absolute;
    width: 130%;
    left: 50%;
    transform: translateX(-50%);

    .slick-active[data-slick-index="0"] {
      opacity: 0.4;
    }

    .slick-active[data-slick-index="5"] {
      opacity: 0.4;
    }
    .slick-active[data-slick-index="6"] {
      opacity: 0.4;
    }

    .slick-active[data-slick-index="11"] {
      opacity: 0.4;
    }

  }
  .slider2__wrapper {
    width: 100%;
    overflow: hidden;
    padding-bottom: 420px;
    position: relative;
  }
  .slider2__item {
    margin-right: 13px;

    img {
      width: 100%;
    }
  }
  .slider2__item-discount {
    width: 55px;
    height: 81px;
    position: absolute;
    top: 0;
    z-index: 100;
    left: -13px;
    background: url("../images/discount.png");
  }
  ///////////////
  .catigories {
    margin-bottom: 0;
  }
  .catigories__line3, .catigories__line2, .catigories__line1 {
    max-width: 715px;

    div:first-of-type, div:last-of-type {
      &:after {
        font-size: 20px;
      }
    }
  }
  ///////////////
  .quemUsa {
    margin: 0 0 18px 0;

    div {
      //max-width: 170px;
    }
  }
  //////////////
  .navigation__wrapper {
    margin: 0 auto;
    width: 730px;
    padding: 0 15px !important;
  }
  form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    padding: 0 7px;
    span {
      padding: 11px 20px;
      font-size: 14px;
      letter-spacing: 1.13px;
      margin-right: 17px;

      &:before {
        content: "";
        position: absolute;
        left: 100%;
        top: 0;
        bottom: 0;
        border: 21px solid transparent;
        border-left: 10px solid #000000;
      }
    }

    input[type=text] {
      font-size: 15px;
      width: 200px;
      padding: 11px 0;
      letter-spacing: 0.91px;
      margin-right: 7px;
      &:first-of-type{
        margin-right: 3px;
      }
    }

    input[type=submit] {
      font-size: 15px;
      padding: 11px 24px 10px 27px;
      box-shadow: 2px 4px 0 rgba(20, 21, 24, 0.75);
      letter-spacing: 0.69px;
      color: #393939;
    }
  }
  //////////////
  footer {
    div {
      padding: 12px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    background: #000000;

    .footer__info {
      a {
        margin-right: 30px;
        font-size: 14px;
        letter-spacing: 0.85px;
      }
    }

    .footer__sm {
      a {
        height: 15px;
        margin-left: 10px;
      }

      img {
        height: 100%;
      }
    }
  }
  /////////////
  .menu .menu__sm {
    margin: 15px 20px 17px 0;
    float: right;

    & > a {
      margin-left: 11px;

      img {
        height: 19px;
      }
    }

    &:after {
      content: "";
      clear: both;
      display: block;
    }
  }
  ///////
  .slider3 {
    .galleryItemHover{
      margin:0 5px;
      margin-bottom: 7px;
    }
    .slider3__item {
      img {
        width: 135px;
      }

      .likeIcon img {
        width: auto;
      }
    }
  }
  .slider4 {
    .slider4__item{
      .galleryItemHover{
        margin: 0 7px !important;
        margin-bottom: 7px !important;
      }
      img{
        max-width: 169px ;
      }
    }
  }
  .menu__search {
    input {
      width: 204px;
      font-size: 14px !important;
      padding: 10px 32px 10px 13px !important;
      line-height: 1;
    }
  }
}

